<!-- <ion-header>
  <ion-toolbar>
    <ion-title>checkout</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
    <div id="splash" #splash>
        <div id="content_letras">
            Gracias! <br>
            Su orden ya <br>
            se procesa.
        </div>
        <div class="circulo" (click)="onclickMenu()">
            <span class="texto_circulo">Regresa a Reacsa</span>
        </div>
    </div>
    <div class="content_checkout">
        <form [formGroup]="ionicForm" novalidate>
            <ion-item>
                <ion-label position="floating">Direcciones</ion-label>
                <ion-select formControlName="direccion" value="">
                    <ion-select-option value="">Seleccione una dirección</ion-select-option>
                    <ion-select-option *ngFor="let direccion of direcciones" value="{{direccion.uuid_direccion}}">
                        {{ direccion.sub_name }}</ion-select-option>
                </ion-select>
            </ion-item>
            <span class="error ion-padding" color="danger"
                *ngIf="isSubmitted && errorControl.direccion.errors?.required">
                Es necesario seleccionar una dirección
            </span>
            <ion-button expand="full" class="btn_guardar" type="button" (click)="agregarDireccion()">
                <ion-label>Agregar dirección</ion-label>
            </ion-button>
            <div id="forma_envio_content">
                <div class="forma_envio_subcontent">
                    <div class="titulo1_envio">Forma de envio</div>
                    <br>
                    <div class="content_radios1">
                        <div class="radio">
                            <input id="radio-12" name="radio1" type="radio" checked value="gratis">
                            <label for="radio-12" class="radio-label">DHL Standard (5 - 19 dias)</label>
                            <span class="right">$0</span>
                        </div>
                        <br>
                        <div class="radio">
                            <input id="radio-22" name="radio1" type="radio" value="cobro">
                            <label for="radio-22" class="radio-label">DHL Express (2 - 5 dias)</label>
                            <span class="right">$20</span>
                        </div>
                    </div>
                </div>
                <div class="forma_pago_subcontent radios">
                    <div class="titulo1_envio mt">Forma de pago</div>
                    <br><br>
                    <div class="radio" style="width: 50%;display: inline-block;margin: 0;text-align: center;">
                        <input id="radio-1" name="radio" type="radio" checked value="credito">
                        <label for="radio-1" class="radio-label">Credito/Debito</label>
                    </div>
                    <div class="radio" style="width: 50%;display: inline-block;margin: 0;text-align: center;">
                        <input id="radio-2" name="radio" type="radio" value="paypal">
                        <label for="radio-2" class="radio-label">Paypal</label>
                    </div>
                </div>
            </div>
            <div class="formulario padding30">
                <div class="datosTarjeta">
                    <ion-item class="closed">
                        <ion-label position="floating">Nombre en tarjeta *</ion-label>
                        <ion-input type="text" id="nombreTarjeta" formControlName="nombreTarjeta"></ion-input>
                    </ion-item>
                    <!-- Error messages -->
                    <span class="error ion-padding" color="danger"
                        *ngIf="isSubmitted && (errorControl.nombreTarjeta.errors?.pattern || errorControl.nombreTarjeta.errors?.required)">
                        El Nombre de tarjeta es obligatorio, debe tener letras en mayusculas.
                    </span>
                    <ion-item>
                        <ion-label position="floating">Numero de tarjeta *</ion-label>
                        <ion-input formControlName="numeroTarjeta" id="numeroTarjeta" type="number"></ion-input>
                    </ion-item>
                    <!-- Error messages -->
                    <span class="error ion-padding" color="danger"
                        *ngIf="isSubmitted && (errorControl.numeroTarjeta.errors?.required || errorControl.numeroTarjeta.errors?.pattern || errorControl.numeroTarjeta.errors?.minlength || errorControl.numeroTarjeta.errors?.maxlength)">
                        El Numero de tarjeta debe tener 16 caractéres.
                    </span>
                    <!-- <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.numeroTarjeta.errors?.maxlength">
          El Numero de tarjeta debe tener maximo 16 caractéres.
        </span>  -->
                    <!-- <ion-item> -->
                        <!-- <ion-label position="floating">Fecha de Expiracion (DD)*</ion-label>
          <ion-select formControlName="fechaDiaTarjeta" id="fechaDiaTarjeta">
            <ion-select-option value="01">01</ion-select-option>
            <ion-select-option value="02">02</ion-select-option>
            <ion-select-option value="03">03</ion-select-option>
            <ion-select-option value="04">04</ion-select-option>
            <ion-select-option value="05">05</ion-select-option>
            <ion-select-option value="06">06</ion-select-option>
            <ion-select-option value="07">07</ion-select-option>
            <ion-select-option value="08">08</ion-select-option>
            <ion-select-option value="09">09</ion-select-option>
            <ion-select-option value="10">10</ion-select-option>
            <ion-select-option value="11">11</ion-select-option>
            <ion-select-option value="12">12</ion-select-option>
          </ion-select> -->
                    <!-- </ion-item> -->
                    <!-- Error messages -->
                    <!-- <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.fechaDiaTarjeta.errors?.required">
          Campo Fecha de Expiracion DD de tarjeta es requerido.
        </span> -->
                    <ion-item>
                        <ion-label position="floating">Fecha de Expiracion (MM)*</ion-label>
                        <ion-select formControlName="fechaMesTarjeta" id="fechaMesTarjeta">
                            <ion-select-option value="01">01</ion-select-option>
                            <ion-select-option value="02">02</ion-select-option>
                            <ion-select-option value="03">03</ion-select-option>
                            <ion-select-option value="04">04</ion-select-option>
                            <ion-select-option value="05">05</ion-select-option>
                            <ion-select-option value="06">06</ion-select-option>
                            <ion-select-option value="07">07</ion-select-option>
                            <ion-select-option value="08">08</ion-select-option>
                            <ion-select-option value="09">09</ion-select-option>
                            <ion-select-option value="10">10</ion-select-option>
                            <ion-select-option value="11">11</ion-select-option>
                            <ion-select-option value="12">12</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <!-- Error messages -->
                    <span class="error ion-padding" color="danger"
                        *ngIf="isSubmitted && (errorControl.fechaMesTarjeta.errors?.required)">
                        Campo Fecha de Expiracion MM de tarjeta es requerido.
                    </span>
                    <ion-item>
                        <ion-label position="floating">Año *</ion-label>
                        <ion-select formControlName="fechaAnoTarjeta" id="fechaAnoTarjeta">
                            <ion-select-option value="20">2020</ion-select-option>
                            <ion-select-option value="21">2021</ion-select-option>
                            <ion-select-option value="22">2022</ion-select-option>
                            <ion-select-option value="23">2023</ion-select-option>
                            <ion-select-option value="24">2024</ion-select-option>
                            <ion-select-option value="25">2025</ion-select-option>
                            <ion-select-option value="26">2026</ion-select-option>
                            <ion-select-option value="27">2027</ion-select-option>
                            <ion-select-option value="28">2028</ion-select-option>
                        </ion-select>
                    </ion-item>
                    <!-- Error messages -->
                    <span class="error ion-padding" color="danger"
                        *ngIf="isSubmitted && (errorControl.fechaAnoTarjeta.errors?.required)">
                        Campo Año de tarjeta es requerido.
                    </span>
                    <ion-item>
                        <ion-label position="floating">Codigo de seguridad (CVV) *</ion-label>
                        <ion-input formControlName="cvvTarjeta" id="cvvTarjeta" type="number"></ion-input>
                    </ion-item>
                    <!-- Error messages -->
                    <!-- <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.cvvTarjeta.errors?.pattern">
          El CVV debe tener solo numeros.
        </span> -->
                    <span class="error ion-padding" color="danger"
                        *ngIf="isSubmitted && (errorControl.cvvTarjeta.errors?.required || errorControl.cvvTarjeta.errors?.pattern || errorControl.cvvTarjeta.errors?.minlength || errorControl.cvvTarjeta.errors?.maxlength)">
                        Campo CVV requerido y tener solo 3 numeros.
                    </span>
                    <!-- <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.cvvTarjeta.errors?.minlength">
          El CVV debe tener minimo 3 caractéres.
        </span> -->
                    <!-- <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.cvvTarjeta.errors?.maxlength">
          El CVV debe tener maximo 3 caractéres.
        </span> -->
                </div>
                <br><br>
                <div class="titulo_checkout">Total de la compra</div>
                <br><br>
                <ion-grid>
                    <ion-row class="font-s1">
                        <ion-col>
                            <div class="ion-text-left">
                                Subtotal
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="ion-text-right black">
                                $<span class="subtotal">{{subtotal}}</span>
                            </div>
                        </ion-col>
                    </ion-row>
                    <ion-row class="font-s1">
                        <ion-col>
                            <div>
                                Envio 2 dias
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="ion-text-right black">
                                $<span class="envio">{{envio}}</span>
                            </div>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-row class="font-s1">
                        <ion-col>
                            <div>
                                IVA
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="ion-text-right black">
                                16%
                            </div>
                        </ion-col>
                    </ion-row>
                    <br>
                    <ion-row class="font-s2">
                        <ion-col>
                            <div>
                                Total
                            </div>
                        </ion-col>
                        <ion-col>
                            <div class="ion-text-right">
                                $<span class="total">{{total}}</span>
                            </div>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </div>
            <ion-button expand="full" color="success" (click)="submitForm(1)" class="btnpaypal paypalnormal hide">
                Paga
                con PayPal</ion-button>
            <ion-button expand="full" color="success" (click)="submitForm(3)" class="btnpaypal enviopaypal hide">
                Paga
                con PayPal envio</ion-button>
            <div class="content_boton btntarjeta sinenvio">
                <ion-button expand="full" class="btn_pagar" type="submit" (click)="submitForm(2)">
                    <ion-label style="position: absolute;left:10px">$<span class="total">{{total}}</span>
                    </ion-label>
                    <ion-label style="position: absolute;right:10px">Comprar</ion-label>
                </ion-button>
            </div>
            <div class="content_boton btntarjeta envionormal hide">
                <ion-button expand="full" class="btn_pagar" type="submit" (click)="submitForm(4)">
                    <ion-label style="position: absolute;left:10px">$<span class="total">{{total}}</span>
                    </ion-label>
                    <ion-label style="position: absolute;right:10px">Comprar envio</ion-label>
                </ion-button>
            </div>
        </form>
    </div>
</ion-content>
<div class="content_menu">
    <ul>
        <li>
            <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
          </li>
          <li>
            <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
          </li>
          <li>
            <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
          </li>
          <li>
            <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
              <span *ngIf="cantidadNot!=0" class="cantidad">{{cantidadNot}}</span>
          </li>
          <li>
            <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
          </li>
    </ul>
</div>