<!-- <ion-header>
  <ion-toolbar>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div id="content_carrito">
    <div class="content_select">
      <select name="categoria_select" id="categoria_select">
        <option value="0" selected>su carrito</option>
      </select>
    </div>
    <div class="subcontent_carrito" *ngFor="let lista of listas; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="5" >
            <div class="content_img">
              <img src="../../assets/images/aireblanco.png" alt="aire">
            </div>
          </ion-col>
          <ion-col size="7" class="ion-no-padding ion-position-relative">
            <ion-row>
              <ion-col size="8">
                <p class="parrafo1">
                  <span class="titulo1">{{lista.nombre}}</span> <br>
                  {{lista.descripcion}}
                </p>
                <span class="precio none">500</span>
              </ion-col>
              <span class="remover" (click)="delete(i)">Eliminar</span>
              <ion-col size="4">
                <div class="precio1">{{lista.precio}}</div>
                <select name="cantidad" class="cantidad" id="cant1">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <!-- <div class="subcontent_carrito">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <div class="content_img">
              <img src="../../assets/images/airegris.png" alt="aire">
            </div>
          </ion-col>
          <ion-col size="7" class="ion-no-padding ion-position-relative">
            <ion-row>
              <ion-col size="8">
                <p class="parrafo1">
                  <span class="titulo1">LG MINISPLIT</span> <br>
                  VR series inverter artcool wifi. 220v
                </p>
                <span class="precio none">500</span>
              </ion-col>
              <span class="remover">Eliminar</span>
              <ion-col size="4">
                <div class="precio1">$5,027.00</div>
                <select name="cantidad" class="cantidad" id="cant2">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="subcontent_carrito">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <div class="content_img">
              <img src="../../assets/images/aireblanco.png" alt="aire">
            </div>
          </ion-col>
          <ion-col size="7" class="ion-no-padding ion-position-relative">
            <ion-row>
              <ion-col size="8">
                <p class="parrafo1">
                  <span class="titulo1">YORK MINISPLIT</span> <br>
                  YHFE/YHGE SERIES COMPRESOR ON/OFF R-410A SOLO FRIO Y FRIO/CALOR 220V
                </p>
                <span class="precio none">500</span>
              </ion-col>
              <span class="remover">Eliminar</span>
              <ion-col size="4">
                <div class="precio1">$5,027.00</div>
                <select name="cantidad" class="cantidad" id="cant3">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="subcontent_carrito">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <div class="content_img">
              <img src="../../assets/images/airegris.png" alt="aire">
            </div>
          </ion-col>
          <ion-col size="7" class="ion-no-padding ion-position-relative">
            <ion-row>
              <ion-col size="8">
                <p class="parrafo1">
                  <span class="titulo1">LG MINISPLIT</span> <br>
                  VR series inverter artcool wifi. 220v
                </p>
                <span class="precio none">500</span>
              </ion-col>
              <span class="remover">Eliminar</span>
              <ion-col size="4">
                <div class="precio1">$5,027.00</div>
                <select name="cantidad" class="cantidad" id="cant4">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="subcontent_carrito">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <div class="content_img">
              <img src="../../assets/images/aireblanco.png" alt="aire">
            </div>
          </ion-col>
          <ion-col size="7" class="ion-position-relative">
            <ion-row>
              <ion-col size="8">
                <p class="parrafo1">
                  <span class="titulo1">YORK MINISPLIT</span> <br>
                  YHFE/YHGE SERIES COMPRESOR ON/OFF R-410A SOLO FRIO Y FRIO/CALOR 220V
                </p>
                <span class="precio none">500</span>
              </ion-col>
              <span class="remover">Eliminar</span>
              <ion-col size="4">
                <div class="precio1">$5,027.00</div>
                <select name="cantidad" class="cantidad" id="cant5">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
    <div class="subcontent_carrito">
      <ion-grid>
        <ion-row>
          <ion-col size="5">
            <div class="content_img">
              <img src="../../assets/images/airegris.png" alt="aire">
            </div>
          </ion-col>
          <ion-col size="7" class="ion-no-padding ion-position-relative">
            <ion-row>
              <ion-col size="8">
                <p class="parrafo1">
                  <span class="titulo1">LG MINISPLIT</span> <br>
                  VR series inverter artcool wifi. 220v
                </p>
                <span class="precio none">500</span>
              </ion-col>
              <span class="remover">Eliminar</span>
              <ion-col size="4">
                <div class="precio1">$5,027.00</div>
                <select name="cantidad" class="cantidad" id="cant6">
                  <option value="1">1</option>
                  <option value="2">2</option>
                  <option value="3">3</option>
                </select>
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
  </div>
  
  <div class="content_subtotal">
    <div class="total">Total</div>
    <span class="subtotal_text">Subtotal</span>
    <span class="subtotal_numero ion-float-right">$17,461.67</span>
    <div class="content_codigo">
      <span class="codigo">
        + Use código de descuento.
      </span>
    </div>
    
  </div>
  <div class="content_boton">
      <ion-button expand="full" class="btn_pagar" (click)="onClickCheckout()">
          <ion-label style="position: absolute;left:10px">$ <span class="total_btnpago"></span></ion-label>
          <ion-label style="position: absolute;right:10px">Forma de pago</ion-label>
      </ion-button>
  </div>
  
</ion-content>
<div class="content_menu">
  <ul>
    <li>
      <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
    </li>
    <li>
      <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
    </li>
    <li>
      <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
    </li>
    <li>
      <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
    </li>
    <li>
      <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
    </li>
  </ul>
</div>
