<!-- <ion-header>
  <ion-toolbar>
    <ion-title>carrito</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div id="content_carrito">
    <div class="content_select">
      <select name="categoria_select" id="categoria_select">
        <option value="0" selected>su carrito</option>
      </select>
    </div>
    <div class="subcontent_carrito" *ngFor="let producto of carritoProductos; let i = index">
      <ion-grid>
        <ion-row>
          <ion-col size="5" >
            <div class="content_img">
              <img src="../../assets/images/aireblanco.png" alt="aire">
            </div>
          </ion-col>
          <ion-col size="7" class="ion-no-padding ion-position-relative">
            <ion-row>
              <ion-col size="8">
                <p class="parrafo">
                  <span class="titulo">{{producto.nombre}}</span> <br>
                  {{producto.desc_corta}}
                </p>
              </ion-col>
              <span class="remover" (click)="delete(producto.uuid_producto)">Eliminar</span>
              <ion-col size="4">
                <div class="precio" id="{{producto.uuid_producto}}">{{producto.precio}}</div>
                <input type="number" class="cantidad" id="cantidad_{{producto.uuid_producto}}" placeholder="Cantidad" value="{{producto.cantidad}}" (change)="updCantidad(producto.uuid_producto,$event.target.value)">
              </ion-col>
            </ion-row>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div>
  </div>
  
  <div class="content_subtotal">
    <div class="total">Total</div>
    <span class="subtotal_text">Subtotal</span>
    <span class="subtotal_numero ion-float-right">-</span>
    <div class="content_codigo">
      <span class="codigo">
        + Use código de descuento.
      </span>
    </div>
    
  </div>
  <div class="content_boton">
      <ion-button expand="full" class="btn_pagar" (click)="onClickCheckout()">
          <ion-label style="position: absolute;left:10px">$ <span class="total_btnpago"></span></ion-label>
          <ion-label style="position: absolute;right:10px">Forma de pago</ion-label>
      </ion-button>
  </div>
  
</ion-content>
<div class="content_menu">
  <ul>
    <li>
      <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
    </li>
    <li>
      <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
    </li>
    <li>
      <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
    </li>
    <li>
      <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
    </li>
    <li>
      <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
    </li>
  </ul>
</div>
