<!-- <ion-header>
  <ion-toolbar>
    <ion-title>notificaciones</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content id="content_notificacion">
  <!-- <p *ngIf="dataReturned">{{dataReturned}}</p> -->
  <div id="content1_notificaciones" style="color: black;">
      <!-- <img src="../../assets/images/notificacion_negro.png" alt="notificacion_negro" style="display: inline-block;"> -->
      <div style="display: inline-block;margin-left:5px">
        <span class="txtTitulo">Notificaciones</span><br>
        <span class="txtFecha">{{currentDate}}</span>
      </div>
  </div>
  <div class="content2_notificaciones noleido2" *ngFor="let list of listas;let i = index" (click)="openModal(i,list.uuid_notificacion,list.uuid_cliente)">
    <div class="subcontent_content2_notificaciones">
      <img src="{{list.url_imagen}}" alt="notificacion_negro" style="display: inline-block;">
      <div style="display: inline-block;margin-left:5px">
        <span class="txt1">{{list.titulo}}</span><br>
        <span class="txt2">Válido hasta: {{list.fecha | date: "fullDate"}}</span>
      </div>
      <img *ngIf="list.status==1" src="../../assets/images/noleido.png" alt="noleido">
    </div>
    <div class="content_texto">
      {{list.descripcion}}
    </div>
  </div>
  <div class="content2_notificaciones" *ngFor="let notificacion of notificaciones;let i = index" (click)="openModal(i,notificacion.uuid_notificacion,notificacion.uuid_cliente)">
    <div class="subcontent_content2_notificaciones">
      <img src="{{notificacion.url_imagen}}" alt="notificacion_negro" style="display: inline-block;">
      <div style="display: inline-block;margin-left:5px">
        <span class="txt1">{{notificacion.titulo}}</span><br>
        <span class="txt2">Válido hasta: {{notificacion.fecha | date: "fullDate"}}</span>
      </div>
      <!-- <img *ngIf="notificacion.status==1" src="../../assets/images/noleido.png" alt="noleido"> -->
    </div>
    <div class="content_texto" >
      {{notificacion.descripcion}}
    </div>
  </div>
  <!-- <div class="content2_notificaciones" (click)="openModal()">
    <div class="subcontent_content2_notificaciones">
      <img src="../../assets/images/imgnot2.png" alt="notificacion_negro" style="display: inline-block;">
      <div style="display: inline-block;margin-left:5px">
        <span class="txt1">Oferta de fin de semana</span><br>
        <span class="txt2">Válido hasta: 12 de Nov. 2020</span>
      </div>
      <img src="../../assets/images/ojo.png" alt="ojo">
    </div>
    <div class="content_texto">
      6 Meses sin intereses! <br>
      Detalles de oferta.
    </div>
  </div>
  <div class="content2_notificaciones visto2">
    <div class="subcontent_content2_notificaciones">
      <img src="../../assets/images/imgnot1.png" alt="notificacion_negro" style="display: inline-block;">
      <div style="display: inline-block;margin-left:5px">
        <span class="txt1">Mini Splits a 50%</span><br>
        <span class="txt2">Válido hasta: 05 de Dic. 2020</span>
      </div>
      <img src="../../assets/images/visto.png" alt="visto">
    </div>
    <div class="content_texto">
      Mini Splits a mitad de precio normal. <br>
      Detalles de oferta.
    </div>
  </div>
  <div class="content2_notificaciones last noleido2">
    <div class="subcontent_content2_notificaciones">
      <img src="../../assets/images/imgnot1.png" alt="notificacion_negro" style="display: inline-block;">
      <div style="display: inline-block;margin-left:5px">
        <span class="txt1">Ahorra 20% en todos los <br> compresores en existencia</span>
      </div>
      <img src="../../assets/images/noleido.png" alt="noleido">
    </div>
    <div class="content_texto">
      Mini Splits a mitad de precio normal. <br>
      Detalles de oferta
    </div>
  </div> -->
  <div class="content_menu">
    <ul>
      <li>
        <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
      </li>
      <li>
        <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
      </li>
      <li>
        <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
      </li>
      <li>
        <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
          <span *ngIf="cantidadNot!=0" class="cantidad">{{cantidadNot}}</span>
      </li>
      <li>
        <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
      </li>
    </ul>
  </div>
</ion-content>
