#login_form{padding: 0 42px;}
.logo2{margin: 130px auto 55px;display: block;}
ion-item{border-radius: 6px !important;border: none !important;--background: #EFEFEF !important;border: none !important;height: 47px;}
ion-item{margin-top: 20px;box-shadow: 0px 3px 6px #00000029;}
ion-input{height: 47px;--placeholder-color: #707070;--placeholder-opacity: 1;color: #151515;font-size: 17px;}
.txtBtn1{padding: 0 40px !important;font-size: 20px;color: white;}
.mt10{margin-top: 20px;margin-right: 30px;}
.error{color:red;display: inline-block;}
ion-button{
    background-color: #0F0E9F;
}