.pedido_content{margin-bottom: 35px;border: 1px solid #707070;padding: 14px 0;vertical-align: middle;display: flex;align-items: center;width: 100%;}
.txt3{font-size: 18px;font-weight: 500;color: #0B3B61;}
.img_direcciones{max-width: 34px;margin-left: 10px;}
.txt2{color: #0B3B61;font-size: 13px !important;font-weight: 500;}
.content_direcciones {
    display: inline-block;
    vertical-align: sub;margin-left: 10px;
}

.content_control{display: block;
    color: #0B3B61;
    margin-left: 10px;
    text-align: center;
    font-weight: bold;
    margin-top: 20px;}
.left{float: left;}
.last{margin-left: 20px;}