<ion-content>
  <div class="registro">
    <div class="content_img_txt">
      <div class="inline-block">
        <img *ngIf="!data" src="../../assets/images/img_registro.png" alt="img_registro1" (click)="photoService.takePicture()"/>
        <img [src]="data" alt="img_registropedro" class="perfil" (click)="photoService.takePicture()"/>
      </div><div class="inline-block txt_registro"><span>Editar<br>perfil personal</span></div>
    </div>
    <br>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <div *ngFor="let perfil of perfiles;let i = index;let last = last;">
        <ion-item color="light" class="closed" >
          <ion-label position="floating">Cliente No.</ion-label>
          <ion-input  type="text" disabled
           value="{{perfil.id_cliente_sap}}"></ion-input>
        </ion-item>
        <br>
        <ion-item class="closed">
          <ion-label position="floating">Nombres *</ion-label>
          <ion-input formControlName="nombre" type="text" required></ion-input>
        </ion-item>
        <div class="espacios">
          <!-- Error messages -->
          <span class="error ion-padding" color="danger" *ngIf="isSubmitted && (errorControl.nombre.errors?.required || errorControl.nombre.errors?.maxlength || errorControl.nombre.errors?.minlength || errorControl.nombre.errors?.pattern)">
            El Nombre es requerido, solo letras, minimo 5 y maximo 40 caractéres.
          </span>
        </div>
        <ion-item >
          <ion-label position="floating">Apellidos</ion-label>
          <ion-input formControlName="nombre_2" value="{{perfil.nombre_2}}"></ion-input>
        </ion-item>
        <div class="espacios">
          <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nombre_2.errors?.maxlength">
            Campo Apellidos 2 maximo 40 caractéres.
          </span>
        </div>
        <ion-item >
          <ion-label position="floating">Teléfono</ion-label>
          <ion-input formControlName="telefono" type="tel"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <div class="espacios">
          <span class="error ion-padding" color="danger" *ngIf="isSubmitted && (errorControl.telefono.errors?.maxlength || errorControl.telefono.errors?.minlength || errorControl.telefono.errors?.pattern)">
            El Teléfono debe ser numérico y tener 10 caractéres.
          </span>
        </div>
        <ion-item >
          <ion-label position="floating">Celular *</ion-label>
          <ion-input  formControlName="celular" type="tel"></ion-input>
        </ion-item>
         <!-- Error messages -->
         <div class="espacios">
          <span class="error ion-padding" color="danger" *ngIf="isSubmitted && (errorControl.celular.errors?.maxlength || errorControl.celular.errors?.required || errorControl.celular.errors?.minlength || errorControl.celular.errors?.pattern)">
            El Celular debe ser numérico y tener 10 caractéres.
          </span>
        </div>
        <ion-item >
          <ion-label position="floating">Email *</ion-label>
          <ion-input formControlName="mail" type="email"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <div class="espacios">
          <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.mail.errors?.required || errorControl.mail.errors?.pattern)">
            Campo email requerido y con formato correo@dominio
          </span>
        </div>
        <ion-item >
          <ion-label position="floating">Persona Contacto *</ion-label>
          <ion-input formControlName="persona_contacto"></ion-input>
        </ion-item>
        <div class="espacios">
          <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.persona_contacto.errors?.required || errorControl.persona_contacto.errors?.maxlength || errorControl.persona_contacto.errors?.pattern)">
            Campo Persona Contacto requerido solo letras y máximo 40 caractéres.
          </span>
        </div>
        <ion-item >
          <ion-label position="floating">Password *</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <div class="espacios">
          <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.password.errors?.required || errorControl.password.errors?.minlength)">
            Campo Password requerido y minimo 8 caractéres
          </span>
        </div>
        <ion-item>
          <ion-checkbox mode="md" formControlName="myBoolean" checked (ionChange)="muestraDireccion2()"></ion-checkbox>
          <label style="color:black;margin-left: 10px;">Requiere Factura</label>
        </ion-item>
        <div class="direccion2" *ngIf=mostrarDireccion1>
          <div style="color:black;margin-top: 15px;margin:15px 0;">Datos de facturación</div>
          <ion-item >
            <ion-label position="floating">RFC *</ion-label>
            <ion-input formControlName="rfc"></ion-input>
          </ion-item>
          <!-- Error messages -->
          <div class="espacios">
            <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.rfc.errors?.required || errorControl.rfc.errors?.pattern">
              Campo RFC Obligatorio y debe llevar la clabe correcta y en mayusculas.
            </span>
          </div>
          <ion-item >
            <ion-label position="floating">Uso de CFDI</ion-label>
            <ion-select formControlName="uso_cfdi" value="">
              <ion-select-option value="">Selecciona CFDI</ion-select-option>
              <ion-select-option value="{{cfdi.uso}}" *ngFor="let cfdi of cfdis;let i = index;let last = last;">{{cfdi.descripcion}}</ion-select-option>
            </ion-select>
          </ion-item>
          <!-- Error messages -->
          <div class="espacios">
            <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.uso_cfdi.errors?.required">
              Campo CFDI Obligatorio.
            </span>
          </div>
        </div>
      </div>
      <br>
      <ion-button expand="full" class="btn1" (click)="agregarDirecciones()">
        <ion-label>AGREGAR DIRECCIONES</ion-label>
      </ion-button>
      <ion-button expand="full" class="btn2" (click)="verDirecciones()">
        <ion-label>VER DIRECCIONES</ion-label>
      </ion-button>
      <ion-button expand="full" class="btn3" (click)="verHistorialPedidos()">
        <ion-label>Historial de pedidos</ion-label>
      </ion-button>
      <ion-item *ngIf="direcciones?.length > 0">
        <ion-label position="floating">Direcciones</ion-label>
        <ion-select formControlName="direccion">
          <ion-select-option value="{{direccion.uuid_direccion}}" *ngFor="let direccion of direcciones;let i = index;let last = last;">{{direccion.sub_name}}</ion-select-option>
        </ion-select>
      </ion-item>
      <div class="content_boton">
        <ion-button expand="full" class="btn_guardar" type="submit" >
            <ion-label>GUARDAR</ion-label>
        </ion-button>
        <ion-button expand="full" class="btn_logOUt" (click)="logOut()">
            <ion-label>CERRAR SESIÓN</ion-label>
        </ion-button>
      </div>
    </form>
  </div>
  <div class="content_menu">
    <ul>
      <li>
        <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
      </li>
      <li>
        <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
      </li>
      <li>
        <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
      </li>
      <li>
        <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
          <span *ngIf="cantidadNot!=0" class="cantidad">{{cantidadNot}}</span>
      </li>
      <li>
        <img src="../../assets/images/usuario_menu.png">
      </li>
    </ul>
  </div>
</ion-content>