<ion-content>
  <br><br>
    <div style="text-align: center;font-size: 26px;text-transform: uppercase;">Mis Direcciones</div>
    <br><br>
    <div class="pedido_content clearfix" *ngFor="let direccion of direcciones;let i = index;let last = last;" >
      <div class="content_direcciones">
        <div class="txt2">Direccion #{{i+1}}</div>
        <div class="txt3">{{direccion.sub_name}}</div>
      </div>
      <div class="content_control">
        <div class="left" (click)="onclickEditarDireccion(direccion.uuid_direccion)">Editar</div>
        <div class="left last" (click)="presentAlert(direccion.uuid_direccion)">Eliminar</div>
      </div>
    </div>
</ion-content>
