.productos_carrusel{padding-top: 45px;padding-bottom: 110px;background: white;}
#splash{height: 100vh;background-color: #0F0E9F;width: 100%;position: fixed;left: 0;top: 0;z-index: 10;transition: all 1s;color: white;}
#content_letras{font-size: 35px;margin-top: 113px;margin-left: 56px;}
#splash.quitSplash{top: 100%;opacity: 0;transition-duration: 0.6s;}
