<ion-content>
    <div id="content_producto" class="padding" *ngFor="let producto of producto2;let i = index">
        <div class="content_carrusel">
            <ion-slides pager="true" #slides [options]="sliderOptions" class="content_img_gde">
                <!-- <ion-slide *ngFor="let item of items">
          <img src="{{item}}" alt="{{item}}" alt="aire" class="img_gde">
        </ion-slide> -->
                <ion-slide *ngFor="let item of imgProducto">
                    <img src="{{item}}" class="img_gde">
                </ion-slide>
            </ion-slides>
            <div class="content_img_ch">
                <ion-grid>
                    <ion-row>
                        <!-- <ion-col *ngFor="let img of imgProducto;let i = index">
                <img src="{{img}}" class="img_ch"  (click)="moveSlide(slides,(i-1))" >
            </ion-col> -->
                        <!-- <ion-col>
              <img src="../../assets/images/aireblanco.png" alt="aire" class="img_ch"  (click)="move1(slides)" >
            </ion-col>
            <ion-col>
              <img src="../../assets/images/aireblanco.png" alt="aire" class="img_ch" (click)="move2(slides)">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/aireblanco.png" alt="aire" class="img_ch" (click)="move3(slides)">
            </ion-col>
            <ion-col>
              <img src="../../assets/images/aireblanco.png" alt="aire" class="img_ch" (click)="move4(slides)">
            </ion-col> -->
                    </ion-row>
                </ion-grid>
            </div>
        </div>
        <!-- <div id="configurador_content">
      <div class="titulo2">Configurador</div>
      <ion-grid>
        <ion-row>
          <ion-col>
            <ion-radio-group allow-empty-selection="false" name="radio-group" value="radio1">
              <ion-item class="ion-no-padding" color="white" lines="none">
                <ion-label class="titulo_radio">1.0 Ton</ion-label>
                <ion-radio class="radio" color="medium" slot="start" value="radio1"></ion-radio>
              </ion-item>
              <ion-item class="ion-no-padding" color="white" lines="none">
                <ion-label class="titulo_radio">1.5 Ton</ion-label>
                <ion-radio class="radio" color="medium" slot="start" value="radio2"></ion-radio>
              </ion-item>
              <ion-item class="ion-no-padding" color="white" lines="none">
                <ion-label class="titulo_radio">2.0 Ton</ion-label>
                <ion-radio class="radio" color="medium" slot="start" value="radio3"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
          <ion-col>
            <ion-radio-group allow-empty-selection="false" name="radio-group2" value="rad1">
              <ion-item class="ion-no-padding" color="white" lines="none">
                <ion-label class="titulo_radio">solo frio</ion-label>
                <ion-radio class="radio" color="medium" slot="start" value="rad1"></ion-radio>
              </ion-item>
              <ion-item class="ion-no-padding" color="white" lines="none">
                <ion-label class="titulo_radio">frio calor</ion-label>
                <ion-radio class="radio" color="medium" slot="start" value="rad2"></ion-radio>
              </ion-item>
            </ion-radio-group>
          </ion-col>
        </ion-row>
      </ion-grid>
    </div> -->
        <div id="descripcion_content">
            <div class="titulo1">{{producto.marca}} {{producto.nombre_familia}}</div>
            <br>
            <span *ngIf="producto.cantidad==null || producto.cantidad==0" style="color: red;">No hay
                disponibilidad</span>
            <span *ngIf="producto.cantidad!=null && producto.cantidad!=0" style="color: green; ">DISPONIBLE {{producto.cantidad}}</span>
            <p class="parrafo1">
                {{producto.desc_corta}}
            </p>
            <div class="parrafo2">
                <ion-item>
                    <ion-label position="floating">Disponibilidad por zona</ion-label>
                    <ion-select name="zonas" (ionChange)="getInventario($event)" value="">
                        <ion-select-option *ngFor="let zona of zonas" value="{{zona.zona}}">
                            {{ zona.zona }}</ion-select-option>
                    </ion-select>
                </ion-item>
                <br>
                <div *ngFor="let disp of disponibilidad;let i = index">
                    <span class="ion-text-capitalize"><b>{{disp.sucursal}}:</b> </span><span>{{disp.cantidad}}</span>
                    <br>
                </div>
                <br>
                <span class="ion-text-capitalize"><b>Marca: </b> </span><span
                    class="ion-text-uppercase">{{producto.marca}}</span> <br>
                <span class="ion-text-capitalize"><b>No. parte: </b> </span><span
                    class="ion-text-uppercase">{{producto.no_parte}}</span> <br>
                <!-- <span *ngIf="producto.status==1" style="color: green;">DISPONIBLE</span><span *ngIf="producto.status==0" style="color: red;">NO HAY DISPONIBILIDAD</span>  -->
            </div>
            <p class="parrafo3">
                {{producto.desc_larga}}
            </p>
            <div class="precios">
                <span class="precio1"> {{producto.precio}}</span>
                <span *ngIf="producto.precio_viejo" class="precio2">&nbsp;<s>{{producto.precio_viejo}}</s></span> <span *ngIf="producto.precio">+ IVA</span>
            </div>
            <section class="full-width" *ngIf="producto.cantidad==null">
                <ion-button expand="full" class="btn_agregar">No disponible</ion-button>
            </section>
            <section class="full-width" *ngIf="producto.cantidad!=null && producto.cantidad!=0">
                <ion-button expand="full" class="btn_agregar" (click)="onClickCarrito()">Agregar al carrito</ion-button>
            </section>
            
        </div>
    </div>
</ion-content>
<div class="content_menu">
    <ul>
        <li>
            <img src="../../assets/images/Menu.svg" (click)="onclickCategorias()">
        </li>
        <li>
            <img src="../../assets/images/Sucursales.svg" (click)="onclickUbicaciones()">
        </li>
        <li>
            <img src="../../assets/images/Logo.svg" (click)="onclickMenu()">
        </li>
        <li>
            <img src="../../assets/images/Notificacion.svg" (click)="onclickNotificaciones()">
            <span *ngIf="cantidadNot!=0" class="cantidad">{{cantidadNot}}</span>
        </li>
        <li>
            <img src="../../assets/images/Perfil.svg" (click)="onclickUsuario()">
        </li>
    </ul>
</div>