<ion-content>
  <div class="content_img_buscar">
    
  </div>
  <div id="content_categorias">
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-label position="floating">Buscar</ion-label>
        <ion-input formControlName="nombre"></ion-input>
      </ion-item>
      <br>
      <ion-button expand="full" class="buscar" type="submit">
        BUSCAR
        <!-- <img src="../../assets/images/buscar.png" alt="buscar" class="buscar_img"> -->
      </ion-button>
      <br>
    </form>
    <div class="carrito" (click)="onClickCarrito()">
      <span class="numero">{{cantidadActualCarrito}}</span>
      <img src="../../assets/images/carrito.png" alt="carrito" >
    </div>
    <ion-row>
      <ion-col *ngFor="let familia of familias;let i = index;let last = last;" size="6">
        <span class="titulo">{{familia.nombre_familia}}</span>
        <img *ngIf="i==0" src="../../assets/images/EQUIPOSDEREFRIGERACION.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==1" src="../../assets/images/AIREACONDICIONADO.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==2" src="../../assets/images/EQUIPOPARACOMERCIO.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==3" src="../../assets/images/COMPRESORES.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==4" src="../../assets/images/MOTORES.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==5" src="../../assets/images/GASREFRIGERANTE.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==6" src="../../assets/images/QUIMICOSYACEITES.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==7" src="../../assets/images/REFACCIONES.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==8" src="../../assets/images/HERRAMIENTAS.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==9" src="../../assets/images/FRIGORIFICOS.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==10" src="../../assets/images/CONTROLES.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==11" src="../../assets/images/EXTRACCIONYVENTILACION.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==12" src="../../assets/images/FLOW.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
        <img *ngIf="i==13" src="../../assets/images/INSUMOS.png" alt="familia.id_familia" class="categorias_img" (click)="onclickCategoria(familia.id_familia)">
      </ion-col>
      <ion-col size="6" style="margin-bottom: 120px;">
        <span class="titulo">TODOS</span>
        <img src="../../assets/images/TODOSLOSPRODUCTOS.png" alt="categoria1" class="categorias_img" (click)="onclickCategoria(0)">
      </ion-col>
    </ion-row>
  </div>
  <div class="content_menu">
    <ul>
      <li>
        <img src="../../assets/images/listado_menu.png">
      </li>
      <li>
        <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
      </li>
      <li>
        <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
      </li>
      <li>
        <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
          <span *ngIf="cantidadNot!=0" class="cantidad">{{cantidadNot}}</span>
      </li>
      <li>
        <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
      </li>
    </ul>
  </div>
</ion-content>
