.content_img_buscar{width: 100%;position: relative;background-color: white;margin-bottom: 35px;}
.buscar_img{position: relative;left: calc(100% - 60px);margin-top: 50px;}

#content_categorias .categorias_img{width: 100%;height: 188px;}
#content_categorias .titulo{background-color: rgba(0, 0, 0, 0.3);font-size: 15px; color: white; text-transform: uppercase; width: calc(100% - 10px); z-index: 2; position: absolute; padding-bottom: 10px; display: block; padding-top: 15px; padding-left: 10px;min-height: 56px;}
.numero{margin-top: 20px;display: block;}
.last{margin-bottom: 150px;}