<!-- <ion-header>
  <ion-toolbar>
    <ion-title>sucursales</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="content_sucursales">
    <ion-select (ionChange)="checkValue($event)" id="categoria_select" value="{{valor}}" appNoArrow>
      <ion-select-option *ngFor="let sucursal of sucursales" value="{{sucursal.id_sucursal}}">{{sucursal.nombre}}</ion-select-option>
    </ion-select>
    
    <div class="content_mapa">
      <div class="map" id="map">
        <!-- <img src="../../assets/images/img_mapa.png" alt="mapa" class="mapa_img"> -->
      </div>
      <!-- Codigo para mostrar html que viene desde el componente -->
      <!-- <div class="direccion"  *ngFor="let marker of markers" [innerHTML]="marker.direccion"></div> -->
      <div class="direccion">
        <div class="content_direc none">
          <p>
            <img src="../../assets/images/img_flechaarriba.png" alt="direccion" class="direccion_img">
            <span>{{this.sucursalActual.nombre}}<br> <span class="ml10"></span> <br>
            <span class="ml10">{{this.sucursalActual.direccion}}</span> </span> 
          </p>
          <p> 
            <img src="../../assets/images/img_tel.png" alt="img_tel" class="direccion_img">
            <span class="telefono"><a href="tel:{{this.sucursalActual.telefono_1}}">{{this.sucursalActual.telefono_1}}</a></span><br>
            <img src="../../assets/images/img_tel.png" alt="img_tel" class="direccion_img"> 
            <span class="telefono"><a href="tel:{{this.sucursalActual.telefono_2}}">{{this.sucursalActual.telefono_2}}</a></span><br> 
          </p> 
          <p> 
            <img src="../../assets/images/img_mail.png" alt="img_tel" class="direccion_img">
            <span>{{this.sucursalActual.mail}}</span><br>
          </p>
        </div>
      </div>
    </div>
  </div>
</ion-content>
<div class="content_menu">
  <ul>
    <li>
      <img src="../../assets/images/Menu.svg" (click)="onclickCategorias()">
    </li>
    <li>
      <img src="../../assets/images/Sucursales.svg" (click)="onclickUbicaciones()">
    </li>
    <li>
      <img src="../../assets/images/Logo.svg" (click)="onclickMenu()">
    </li>
    <li>
      <img src="../../assets/images/Notificacion.svg" (click)="onclickNotificaciones()">
        <span *ngIf="cantidadNot!=0" class="cantidad">{{cantidadNot}}</span>
    </li>
    <li>
      <img src="../../assets/images/Perfil.svg" (click)="onclickUsuario()">
    </li>
  </ul>
</div>
