<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true">
   <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div id="container">
    <img src="assets/images/Icono_Reacsa.png" alt="logo">
    <div id="content_boton">
      <ion-button color="color1" (click)="iraLogin()">
        <span class="txtBtn1">Login</span>
      </ion-button> 
    </div>
  </div>
  <span style="color: black;position: absolute; bottom: 0; left: calc(50% - 32px);">V 9.16.09</span>
</ion-content>
