<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content [fullscreen]="true">
   <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div id="container">
    <img src="assets/images/logo.png" alt="logo">
    <div id="content_boton">
      <ion-button color="color1" (click)="iraLogin()">
        <span class="txtBtn1">Login</span>
      </ion-button>
    </div>
  </div>
</ion-content>
