<!-- <ion-header>
  <ion-toolbar>
    <ion-title>register</ion-title>
  </ion-toolbar>
</ion-header> -->
<ion-content>
  <div class="registro">
    <div class="content_img_txt">
      <div class="inline-block"><img src="../../assets/images/img_registro.png" alt="img_registro"></div><div class="inline-block txt_registro"><span>Editar<br>perfil personal</span></div>
    </div>
    <br>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item class="closed">
        <ion-label position="floating">Nombres *</ion-label>
        <ion-input formControlName="nombre" type="text" required></ion-input>
      </ion-item>
      <div class="espacios">
        <!-- Error messages -->
        <span class="error ion-padding" color="danger" *ngIf="isSubmitted && (errorControl.nombre.errors?.required || errorControl.nombre.errors?.maxlength || errorControl.nombre.errors?.minlength || errorControl.nombre.errors?.pattern)">
          El Nombre es requerido, mayúsculas, minimo 5 y maximo 40 caractéres.
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Nombre(s) faltante </ion-label>
        <ion-input formControlName="nombre_2"></ion-input>
      </ion-item>
      <div class="espacios">
        <span class="error ion-padding" *ngIf="isSubmitted && errorControl.nombre_2.errors?.maxlength">
          Campo Nombre 2 maximo 40 caractéres.
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Teléfono</ion-label>
        <ion-input formControlName="telefono" type="tel"></ion-input>
      </ion-item>
      <!-- Error messages -->
      <div class="espacios">
        <span class="error ion-padding" color="danger" *ngIf="isSubmitted && (errorControl.telefono.errors?.maxlength || errorControl.telefono.errors?.minlength || errorControl.telefono.errors?.pattern)">
          El Teléfono debe ser numérico y tener 10 caractéres.
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Celular *</ion-label>
        <ion-input formControlName="celular" type="tel"></ion-input>
      </ion-item>
       <!-- Error messages -->
       <div class="espacios">
        <span class="error ion-padding" color="danger" *ngIf="isSubmitted && (errorControl.celular.errors?.maxlength || errorControl.celular.errors?.required || errorControl.celular.errors?.minlength || errorControl.celular.errors?.pattern)">
          El Celular debe ser numérico y tener 10 caractéres.
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Email *</ion-label>
        <ion-input formControlName="mail" type="email"></ion-input>
      </ion-item>
      <!-- Error messages -->
      <div class="espacios">
        <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.mail.errors?.required || errorControl.mail.errors?.pattern)">
          Campo email requerido y con formato correo@dominio.dominio
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Persona Contacto *</ion-label>
        <ion-input formControlName="persona_contacto"></ion-input>
      </ion-item>
      <div class="espacios">
        <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.persona_contacto.errors?.required || errorControl.persona_contacto.errors?.maxlength || errorControl.persona_contacto.errors?.pattern)">
          Campo Persona Contacto requerido solo letras mayusculas y máximo 40 caractéres.
        </span>
      </div>
      <ion-item>
        <ion-label position="floating">Password *</ion-label>
        <ion-input formControlName="password" type="password"></ion-input>
      </ion-item>
      <!-- Error messages -->
      <div class="espacios">
        <span class="error ion-padding" *ngIf="isSubmitted && (errorControl.password.errors?.required || errorControl.password.errors?.minlength)">
          Campo Password requerido y minimo 8 caractéres
        </span>
      </div>
      <ion-item>
        <ion-checkbox mode="md" formControlName="myBoolean" (ionChange)="muestraDireccion2()"></ion-checkbox>
        <label style="color:black;margin-left: 10px;">Requiere Factura</label>
      </ion-item>
      <div class="direccion2" *ngIf=mostrarDireccion1>
        <div style="color:black;margin-top: 15px;margin:15px 0;">Datos de facturaciòn</div>
        <ion-item>
          <ion-label position="floating">RFC *</ion-label>
          <ion-input formControlName="rfc"></ion-input>
        </ion-item>
        <!-- Error messages -->
        <div class="espacios">
          <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.rfc.errors?.required || errorControl.rfc.errors?.pattern">
            Campo RFC Obligatorio y debe llevar la clabe correcta y en mayusculas.
          </span>
        </div>
        <ion-item  >
          <ion-label position="floating">Uso de CFDI</ion-label>
          <ion-select formControlName="uso_cfdi" value="">
            <ion-select-option value="">Selecciona CFDI</ion-select-option>
            <ion-select-option value="G03">Gastos en General</ion-select-option>
          </ion-select>
        </ion-item>
        <!-- Error messages -->
        <div class="espacios">
          <span class="error ion-padding" color="danger" *ngIf="isSubmitted && errorControl.uso_cfdi.errors?.required">
            Campo CFDI Obligatorio.
          </span>
        </div>
      </div>
       <div class="content_boton">
        <ion-button expand="full" class="btn_pagar" type="submit">
            <ion-label>Registrar</ion-label>
        </ion-button>
      </div>
    </form>
   
  </div>
  <div class="content_menu">
    <ul>
      <li>
        <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
      </li>
      <li>
        <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
      </li>
      <li>
        <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
      </li>
      <li>
        <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
      </li>
      <li>
        <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
      </li>
    </ul>
  </div>
</ion-content>