<!-- <ion-header>
  <ion-toolbar>
    <ion-title>categoria</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content>
  <div class="carrito" (click)="onClickCarrito()">
    <span class="numero">{{cantidadActualCarrito}}</span>
    <img src="../../assets/images/carrito.png" alt="carrito" >
  </div>
  
  <div id="content_filtro">
    <!-- <select name="categoria_select" id="categoria_select">
      <option value="0" selected>Seleccionar</option>
      <option *ngFor="let familia of familias;let i = index;let last = last;" value="{{i+1}}">{{familia.nombre_familia}}</option>
    </select> -->
    <ion-select name="categoria_select" id="categoria_select" value="{{valorSelect}}" (ionChange)="checkValue($event)">
      <!-- <ion-select-option value="0">Seleccionar</ion-select-option> -->
      <ion-select-option *ngFor="let familia of familias;let i = index;let last = last;" value="{{familia.id_familia}}">{{familia.nombre_familia}}</ion-select-option>
    </ion-select>
    <br><br>
    <div class="txt3" style="color: black;">Ordenar por:</div>
    <ion-select name="categoria_select2" id="categoria_select2" value="{{valorOrdenar}}" (ionChange)="filtroDestacados($event)">
      <ion-select-option value="&order=destacado.desc">Destacados</ion-select-option>
      <ion-select-option value="&order=precio.desc">Mayor a Menor</ion-select-option>
      <ion-select-option value="&order=precio.asc">Menor a Mayor</ion-select-option>
      <ion-select-option value="&order=nombre.asc">A - Z</ion-select-option>
      <ion-select-option value="&order=nombre.desc">Z - A</ion-select-option>
    </ion-select>
  </div>
  
  <ion-row class="content_categorias">
    <ion-col *ngFor="let producto of productos2;let i = index;let last = last;" size="6" class="productos_carrusel" (click)="onclickProducto(producto.uuid_producto)">
      <div id="content_producto_carrusel" [class.last]="last">
        <img src="../../assets/images/nuevo.png" alt="nuevo" class="marks">
        <img src="{{producto.url_img1}}" alt="imgblanca.png">
        <div class="content_producto_textos">
          <p> <span class="titletxt1"> {{producto.marca}} {{producto.nombre}} </span><br> </p>
          <p> {{producto.desc_corta}}</p>
          <p><span class="pricetxt1">{{producto.precio}}<span class="oferta"> <s *ngIf="producto.precio_viejo">${{producto.precio_viejo}}</s></span></span>
          </p>
        </div>
      </div>
      </ion-col>
      <div style="color:black" *ngIf="!productos2?.length">
        No se encuentran productos en esta categoría
      </div>
  </ion-row>
  
      <!-- <ion-col class="productos_carrusel">
        <div id="content_producto_carrusel"  (click)="onclickProducto()">
          <img src="../../assets/images/outlet.png" alt="outlet" class="marks">
          <img src="../../assets/images/airegris.png" alt="airegris.png">
          <div class="content_producto_textos">
            <p> <span class="titletxt1"> YORK MINISPLIT </span><br>
              YHFE/YHGE SERIES <br>
              COMPRESOR ON/OFF 220V R-410A <br>
              SOLO FRIO Y FRIO/CALOR <br><br>
               <span class="pricetxt1">$5,027.00  <span class="oferta"><s> $8,999.00</s></span></span>
            </p>
          </div>
        </div>
      </ion-col> -->
    
    <!-- <ion-row>
      <ion-col class="productos_carrusel"  (click)="onclickProducto()">
        <div id="content_producto_carrusel">
          <img src="../../assets/images/doble.png" alt="doble" class="marks">
          <img src="../../assets/images/aireblanco.png" alt="aireblanco.png">
          <div class="content_producto_textos">
            <p> <span class="titletxt1"> YORK MINISPLIT </span><br>
              YHFE/YHGE SERIES <br>
              COMPRESOR ON/OFF 220V R-410A <br>
              SOLO FRIO Y FRIO/CALOR <br><br>
               <span class="pricetxt1">$5,027.00   <span class="oferta"> <s>$8,999.00</s></span></span>
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col class="productos_carrusel">
        <div id="content_producto_carrusel">
          <img src="../../assets/images/airegris.png" alt="airegris.png">
          <div class="content_producto_textos">
            <p> <span class="titletxt1"> YORK MINISPLIT </span><br>
              YHFE/YHGE SERIES <br>
              COMPRESOR ON/OFF 220V R-410A <br>
              SOLO FRIO Y FRIO/CALOR <br><br>
               <span class="pricetxt1">$5,027.00  <span class="oferta"><s> $8,999.00</s></span></span>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="last">
      <ion-col class="productos_carrusel">
        <div id="content_producto_carrusel">
          <img src="../../assets/images/aireblanco.png" alt="aireblanco.png">
          <div class="content_producto_textos">
            <p> <span class="titletxt1"> YORK MINISPLIT </span><br>
              YHFE/YHGE SERIES <br>
              COMPRESOR ON/OFF 220V R-410A <br>
              SOLO FRIO Y FRIO/CALOR <br><br>
               <span class="pricetxt1">$5,027.00   <span class="oferta"> <s>$8,999.00</s></span></span>
            </p>
          </div>
        </div>
      </ion-col>
      <ion-col class="productos_carrusel"  (click)="onclickProducto()">
        <div id="content_producto_carrusel">
          <img src="../../assets/images/airegris.png" alt="airegris.png">
          <div class="content_producto_textos">
            <p> <span class="titletxt1"> YORK MINISPLIT </span><br>
              YHFE/YHGE SERIES <br>
              COMPRESOR ON/OFF 220V R-410A <br>
              SOLO FRIO Y FRIO/CALOR <br><br>
               <span class="pricetxt1">$5,027.00  <span class="oferta"><s> $8,999.00</s></span></span>
            </p>
          </div>
        </div>
      </ion-col>
    </ion-row> -->
  
  <div class="content_menu">
    <ul>
      <li>
        <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
      </li>
      <li>
        <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
      </li>
      <li>
        <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
      </li>
      <li>
        <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
      </li>
      <li>
        <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
      </li>
    </ul>
  </div>
</ion-content>
