<ion-content>
  <div class="carrito" (click)="onClickCarrito()">
    <span class="numero">{{cantidadActualCarrito}}</span>
    <img src="../../assets/images/carrito.png" alt="carrito" >
  </div>
  <div id="content_filtro" [class]="className">
    <div style="text-align: right;font-size: 30px; margin-top: 10px;">
      <ion-icon name="filter" [class]="hideMinus" (click)="control()"></ion-icon>
      <ion-icon name="filter-outline" [class]="hidePlus" (click)="control()"></ion-icon>
      <!-- <ion-icon style="display: inline-block;" name="add-outline" [class]="hidePlus" (click)="control()"></ion-icon>
      <ion-icon style="display: inline-block;" name="remove-outline" [class]="hideMinus" (click)="control()"></ion-icon> -->
    </div>
    <form [formGroup]="ionicForm" (ngSubmit)="submitForm()" novalidate>
      <ion-item>
        <ion-label position="floating">Buscar</ion-label>
        <ion-input formControlName="busqueda"></ion-input>
      </ion-item>
      <!-- Error messages -->
      <span class="error ion-padding" color="danger" *ngIf="isSubmitted && (errorControl.busqueda.errors?.required)">
        Campo requerido.
      </span>
      <br>
      <ion-button expand="full" class="buscar" type="submit">
        BUSCAR
        <!-- <img src="../../assets/images/buscar.png" alt="buscar" class="buscar_img"> -->
      </ion-button>
      <br>
    </form>
    <ion-select name="categoria_select" id="categoria_select" value="{{valorSelect}}" (ionChange)="checkValue($event)">
      <!-- <ion-select-option value="0">Seleccionar</ion-select-option> -->
      <ion-select-option *ngFor="let familia of familias;let i = index;let last = last;" value="{{familia.id_familia}}">{{familia.nombre_familia}}</ion-select-option>
    </ion-select>
    <br><br>
    <div class="txt3" style="color: black;">Ordenar por:</div>
    <ion-select name="categoria_select2" id="categoria_select2" value="{{valorOrdenar}}" (ionChange)="filtroDestacados($event)">
      <ion-select-option value="&order=destacado.desc">Destacados</ion-select-option>
      <ion-select-option value="&order=precio.desc">Mayor a Menor</ion-select-option>
      <ion-select-option value="&order=precio.asc">Menor a Mayor</ion-select-option>
      <ion-select-option value="&order=nombre.asc">A - Z</ion-select-option>
      <ion-select-option value="&order=nombre.desc">Z - A</ion-select-option>
    </ion-select>
  </div>
  
  <ion-row class="content_categorias">
    <div class="totalproductos">TOTAL: {{totalproductos}}</div>
    <br>
    <ion-col *ngFor="let producto of productos2;let i = index;let last = last;" size="6" class="productos_carrusel" (click)="onclickProducto(producto.uuid_producto)">
      <div id="content_producto_carrusel" [class.last]="last">
        <img *ngIf="producto.nuevo" src="../../assets/images/nuevo.png" alt="nuevo" class="marks">
        <img src="{{producto.url_img1}}" alt="imgblanca.png">
        <div class="content_producto_textos">
          <p><span class="titletxt1"> {{producto.marca}} {{producto.nombre}} </span><br></p>
          <p>{{producto.desc_corta}}</p>
          <p>{{producto.marca}}</p>
          <span class="ion-text-capitalize"><b>No. parte: </b> </span><span class="ion-text-uppercase">{{producto.no_parte}}</span> <br>
          <span *ngIf="producto.cantidad==null || producto.cantidad==0" style="color: red;">No hay disponibilidad</span>
          <span *ngIf="producto.cantidad!=null && producto.cantidad!=0" style="color: green; ">DISPONIBLE</span>
          <p><span class="pricetxt1">{{producto.precio}}<span class="oferta"> <s *ngIf="producto.precio_viejo">${{producto.precio_viejo}}</s></span></span>+ IVA</p>
        </div>
      </div>
      </ion-col>
      <div style="color:black" *ngIf="!productos2?.length">
        No se encuentran productos en esta categoría
      </div>
  </ion-row>
  <div class="content_menu">
    <ul>
      <li>
        <img src="../../assets/images/listado_menu.png" (click)="onclickCategorias()">
      </li>
      <li>
        <img src="../../assets/images/ubicacion_menu.png" (click)="onclickUbicaciones()">
      </li>
      <li>
        <img src="../../assets/images/reacsa_menu.png" (click)="onclickMenu()">
      </li>
      <li>
        <img src="../../assets/images/alertas_menu.png" (click)="onclickNotificaciones()">
          <span *ngIf="cantidadNot!=0" class="cantidad">{{cantidadNot}}</span>
      </li>
      <li>
        <img src="../../assets/images/usuario_menu.png" (click)="onclickUsuario()">
      </li>
    </ul>
  </div>
</ion-content>
