.oferta{color: #DD0330;}
.productos_carrusel{margin: 0;}
.last{margin-bottom: 130px;}
#content_filtro{padding: 0 30px;}
#categoria_select{margin-top: 30px;}
#categoria_select,
#categoria_select2{border: 2px solid #015BEE;width: 100%; text-transform: uppercase; padding: 0 30px; -webkit-appearance: none; -moz-appearance: none; height: 60px;background: url(../../assets/images/flecha_abajo.png);background-position: right 20px center;background-repeat: no-repeat;background-size: 10px;font-size: 12px;letter-spacing: 2px;color: black;}
#categoria_select2{margin-bottom: 30px;}
.txt3{text-transform: uppercase;margin-bottom: 10px;}
.marks{position: absolute;top: 15px;left: 10px;}
.content_categorias{padding:0 30px;}